<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ba7lgj.ccp.miniprogram.mapper.MpTripMapper">
    <insert id="insertTrip" parameterType="org.ba7lgj.ccp.miniprogram.domain.MpTrip" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ccp_trip (campus_id, start_gate_id, start_location_id, start_address, end_gate_id, end_location_id, end_address,
                              owner_people_count, total_people, current_people, departure_time, require_text, status, create_time, update_time)
        VALUES (#{campusId}, #{startGateId}, #{startLocationId}, #{startAddress}, #{endGateId}, #{endLocationId}, #{endAddress},
                #{ownerPeopleCount}, #{totalPeople}, #{currentPeople}, #{departureTime}, #{requireText}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectHallTrips" resultType="org.ba7lgj.ccp.miniprogram.domain.MpTrip">
        SELECT id, campus_id, start_gate_id, start_location_id, start_address, end_gate_id, end_location_id, end_address,
               owner_people_count, total_people, current_people, departure_time, require_text, status, create_time, update_time
        FROM ccp_trip
        WHERE campus_id = #{campusId} AND status = 0 AND departure_time >= #{minTime}
        ORDER BY departure_time ASC
    </select>
</mapper>
