<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ba7lgj.ccp.miniprogram.mapper.MpTripChatReadMapper">
    <insert id="insertBatchReads">
        INSERT IGNORE INTO ccp_trip_chat_read (chat_id, trip_id, user_id, read_time)
        VALUES
        <foreach collection="chatIds" item="chatId" separator=",">
            (#{chatId}, #{tripId}, #{userId}, NOW())
        </foreach>
    </insert>

    <insert id="insertReadUpTo">
        INSERT IGNORE INTO ccp_trip_chat_read(chat_id, trip_id, user_id, read_time)
        SELECT id, trip_id, #{userId}, NOW()
        FROM ccp_trip_chat
        WHERE trip_id = #{tripId}
          AND id &lt;= #{lastChatId}
          AND is_deleted = 0
    </insert>
</mapper>
