<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ba7lgj.ccp.miniprogram.mapper.UserMapper">
    <resultMap id="UserResult" type="org.ba7lgj.ccp.miniprogram.domain.User">
        <id property="id" column="id" />
        <result property="openId" column="open_id" />
        <result property="phone" column="phone" />
        <result property="selectedSchoolId" column="selected_school_id" />
        <result property="selectedCampusId" column="selected_campus_id" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <select id="selectByOpenId" parameterType="string" resultMap="UserResult">
        SELECT id, open_id, phone, selected_school_id, selected_campus_id, create_time, update_time
        FROM ccp_mini_user
        WHERE open_id = #{openId}
        LIMIT 1
    </select>

    <insert id="insertUser" parameterType="org.ba7lgj.ccp.miniprogram.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ccp_mini_user(open_id, phone, selected_school_id, selected_campus_id, create_time, update_time)
        VALUES(#{openId}, #{phone}, #{selectedSchoolId}, #{selectedCampusId}, NOW(), NOW())
    </insert>

    <update id="updateUserPhone" parameterType="org.ba7lgj.ccp.miniprogram.domain.User">
        UPDATE ccp_mini_user
        SET phone = #{phone}, update_time = NOW()
        WHERE id = #{id}
    </update>
</mapper>
